name: Helm Chart Tests

on:
  # Run M-F at 2pm CDT
  schedule:
    - cron: '0 19 * * 1-5'

permissions:
  contents: read

jobs:
  chartTests:
    name: Helm Chart Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        k8sVersion: ["1.16", "1.17", "1.18", "1.19", "1.20", "1.21"]
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Helm Chart Tests
        run: test/helm/chart-test.sh -i -k ${{ matrix.k8sVersion }}
