name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write # required for uploading releases

env:
  DEFAULT_GO_VERSION: ^1.23
  DEFAULT_PY_VERSION: "3.9"
  GITHUB_USERNAME: ${{ secrets.EC2_BOT_GITHUB_USERNAME }}
  GITHUB_TOKEN: ${{ secrets.EC2_BOT_GITHUB_TOKEN }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Validate Release Version
        run: make validate-release-version

      - name: Set Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build Artifacts
        run: make build-release-assets

      - name: Upload Artifacts to GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/bin/*
            build/k8s-resources/${{ env.RELEASE_VERSION }}/individual-resources.tar
            build/k8s-resources/${{ env.RELEASE_VERSION }}/all-resources.yaml
            build/k8s-resources/${{ env.RELEASE_VERSION }}/helm-chart-archives/*

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.WF_ROLE_ARN }}
          role-session-name: "aemm-release-${{ github.run_id }}"
          aws-region: us-east-1

      - name: Release Docker Linux
        run: make release-docker-linux

  releaseWindows:
    name: Release Windows
    runs-on: windows-2025
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.WF_ROLE_ARN }}
          role-session-name: "aemm-release-windows-${{ github.run_id }}"
          aws-region: us-east-1

      - name: Release Windows Docker Image
        run: make release-docker-windows

  postRelease:
    name: Post Release
    runs-on: ubuntu-20.04
    needs: [release, releaseWindows]
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Sync to Homebrew
        run: make homebrew-sync

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.WF_ROLE_ARN }}
          role-session-name: "aemm-post-release-${{ github.run_id }}"
          aws-region: us-east-1

      - name: Sync Helm Chart Catalog information
        run: make sync-catalog-information-for-helm-chart

      - name: Sync Helm Chart to ECR Public
        run: make push-helm-chart

  helmLint:
    name: Helm Lint Test
    runs-on: ubuntu-20.04
    needs: [release, releaseWindows]
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Helm Lint Test
        run: make validate-release-version
